.filter-projects{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
}

.filter-projects input{
    width: 45vw;
    max-width: 490px;
    height: 35px;
    border: 1px solid white;
    border-radius: 6px;
}

.filter-projects input::placeholder{
    padding: 10px;
    font-size: 14px;
}

.filter-projects button{
    min-width: 20px;
    max-width: 20px;
    height: 20px;
    border-radius: 8px;
    border: transparent;
    padding: 0;
    background-color: transparent;
}

.filter-projects button:hover {
    background: transparent;
}
.filter-projects button:focus,
.filter-projects button:focus-visible {
    outline: transparent;
}

.filter-projects button img{
    width: 20px;
    height: 20px;
}

.title-screen{
    margin: 0 auto;
    width: 50vw;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.projects-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
}

@media (min-width: 770px){
    .title-screen{
        margin-top: 50px;
    }

    .projects-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 35px;
        max-width: 835px;
    }
}