
.heading-contact-1 {
    background: linear-gradient(to right, rgb(107, 233, 209), rgb(67, 149, 173),rgb(135, 116, 250));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 2.5rem;
    margin-top: 25%;
    margin-left: 10%;
    margin-bottom: 10%;
}

h3{
    font-size: 20px;
}

.contact-btn{
    margin: 6%;
}


@media (min-width: 768px) {
    .heading-contact-1 {
        font-size: 2.8rem;
        margin-top: 10%;
        margin-left: 26%;
        margin-bottom: 2%;
    }


   
}





