
h1 {
    background: linear-gradient(to right, rgb(107, 233, 209), rgb(67, 149, 173),rgb(135, 116, 250));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 25px;
}

h3{
    font-size: 20px;
}

.contact-btn{
    margin: 6%;
}






