.input{
    width: 100%;
    min-width: 290px;
    background:#9494940a;
    border: 1px solid rgba(236, 236, 236, 0.302);
    border-radius: 8px;
    color: white;
    min-height: 40px;
    margin-top: 0px;
    font-size: 12px;
    backdrop-filter: blur(10px); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input::placeholder {
    padding-left: 3%;
    color: rgba(255, 250, 250, 0.4);
}

.input-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    margin-bottom: 25px;
}

p{
    margin-bottom: 2px;
    font-size: 14px;
}