/* ProjectCard.css */

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
  }

  .flip-card-front img {
    width: 100%;
    height: 100%;
    object-fit:fill; /* Ensure the image covers the entire space without deforming */
    border-radius: 10px;
  }
  
  .flip-card-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background-color: rgb(51, 58, 65);
    color: white;
    border-radius: 10px;
    transform: rotateY(180deg);
  }
  
  .project-details-card{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .project-title{
    font-size: 2rem;
    font-weight: 500;
  }


  .project-description {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 0.75rem;
    margin-bottom: 1%;
  }


  
  .tags {
    color: #bbb;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.5rem;
    gap: 5px;
  }
  
  .more-information {
    margin-top: 0px;
  }
  