.card-seccion{
   margin-bottom: -150px;
   margin-top: -150px;
}

.image-about-us{
    width: 500px;
    border-radius: 10px;
    margin-right: 150px;
    margin-left: 20px;

}
.container-about {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 100px;
}

.text-container-about{
    width: 500px;
    margin-right: 80px;
}

