.carousel-container-projects {
  position: relative;
  width: 80%; 
  height: 200px; 
  overflow: hidden;
  margin: 20px auto; 
}

.carousel-wrapper {
  display: flex;
  overflow-x: auto; 
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; 
}

.carousel-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row; 
}

.carousel-list li {
  margin-right: 10px; 
}

.carousel-wrapper::-webkit-scrollbar {
  display: none;
}

.carousel-wrapper {
  scrollbar-width: none;
}

.scrollbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  cursor: pointer;
}

.carousel-container-projects .scrolling .carousel-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5); 
  backdrop-filter: blur(5px); 
  z-index: 1;
}


@media (max-width: 768px) {
  .carousel-container-projects {
    position: relative;
    width: 100%; 
    max-width: 400px; 
    height: 200px; 
    overflow: hidden;
    margin:  auto; 
  }
  
  .carousel-wrapper {
    display: flex;
    overflow-x: auto; 
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch; 
  }

  .carousel-list li {
    margin-right: 10px; 
  }
  
  .carousel-wrapper::-webkit-scrollbar {
    display: none;
  }
  
  .carousel-wrapper {
    scrollbar-width: none;
  }
  
  .scrollbar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    cursor: pointer;
  }
}

