.carousel-container {
    position: relative;
    width: 80%; /* Ancho del slider */
    height: 200px; /* Altura del slider */
    overflow: hidden;
    margin: 20px auto; /* Margen automático arriba y abajo, centrado horizontalmente */
  }
  
  .carousel-wrapper {
    display: flex;
    overflow-x: auto; /* Permitir desplazamiento horizontal */
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch; /* Mejora el desplazamiento en dispositivos táctiles */
  }
  
  .carousel-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row; /* Mostrar los elementos en fila horizontal */
  }
  
  .carousel-list li {
    margin-right: 10px; /* Espacio entre las tarjetas */
  }
  
  /* Ocultar la barra de desplazamiento en navegadores compatibles */
  .carousel-wrapper::-webkit-scrollbar {
    display: none;
  }
  
  /* Ocultar la barra de desplazamiento en navegadores basados en WebKit */
  .carousel-wrapper {
    scrollbar-width: none;
  }
  
  .scrollbar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
   
    cursor: pointer;
  }
  