.Container-footer {
  
  display: flex;
  gap: 10%;
  padding-top:3% ;
  padding-left: 30%;
  background-color: #14101F;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  border-radius: 0px;
  padding-right: 0px;
  width: 100vw;
  height: 260px;
  margin-left: 0px;
  margin-top: 5%;
  margin-right: 0px;
}

.logo-footer {
  position: absolute;
  top: 20%;
  left: 5%;

}

.admin-button-tologin{
  background-color: rgb(32, 20, 51);
  width: 15%;
  display: flex;
  position: absolute;
  left: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30%;
  border-radius: 10px;
  border: 3px solid #FFFFFF;
}

.admin-button-tologin:hover{
  background-color: rgb(47, 23, 84);
 
}

.buttons-social {
  width: 100%;
  position: absolute;
  top: 70%;
  left: 85%;
}

.social-btn {
  background-color: transparent;
  border-color: transparent;
  margin-right: 8px;

}

.social-btn img {
  background-color: transparent;
  border-color: transparent;

}

@media (max-width: 768px) {
  .Container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8%;
    width: 100vw;
    height: 500px;
  }

  .admin-button-tologin {
    position: inherit;
    width: 80%;
    height: 50px;
    margin: 0 auto;
   
  }

  .Container-footer section {
    margin-bottom: 10px;
  }

  .social-btn {
    margin-left: 0;
  }

  .buttons-social {
    width: 100%;
    position: absolute !important;
    top: 15%;
    left: 55%; 
  }
 

  .logo-footer {
    display: none;
  }


  .Nav-Footer ul li {
    margin-top: -8px;
    margin-bottom: -8px;
    color: white;
  }

  .Container-footer {
    display: flex;
    align-items: flex-start;
    gap: 5%;
    padding-top:10% ;
    padding-left: 5%;
    background-color: #14101F;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    border-radius: 0px;
    width: 100vw;
    height: fit-content;
    margin-left: 0px;
    margin-right: 0px;
  }
}