.carousel-container-big{
    display: flex;
   justify-content: center;
   flex-direction: row;
   margin-left: 10px;
}
.carousel-container > div {
  width: 90vw;
  margin-right: 100px;
  }

  @media (max-width: 768px){
    .carousel-container-big{
      display: flex;
      justify-content: center;
      flex-direction: row;
      margin-left: 10px;
      width: 100vw;
    }
    .carousel-container > div {
      width: 100vw;
      margin-right: 100px;
      }

  }
