.Container {
  display: flex; 
  align-items: center; 
  background-color: rgba(255, 255, 255, 0.2); 
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); 
  backdrop-filter: blur(10px);
  padding-right: 50px;
  padding-left: 0px;
  width: 100vw;
  height: 80px;
  position: fixed;
  z-index: 4;
}

.logo {
  width: 300px;
  padding: 15px;
  margin-right: auto; 
}

.Nav p {
  color: white;
  text-decoration: none;
}

.Nav ul li  {
  margin-right: 30px;
  list-style: none;
  color: transparent;
}

.hamClick {
  display: none;
}


@media (max-width: 768px) {
  .Container {
    width: 100vw;
    height: 85px; /* 
    padding: 10px;  */
  }

  .Nav {
    display: none; 
  }
  
  .hamClick {
    display: block;
    background-color: transparent;
    border-color: transparent;
    width: 30px;
    margin-right: 10px; 
  }
  .showMenu .Nav {
    display: none; 
  }
  .logo {
    width: 300px;
    padding: 5px;
    margin-right: auto; 
  }
}