.project-details{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    max-width: 880px;
}

.general-info{
    display: flex;
    flex-direction: column;
}

.thumbnail-div{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    width: 100%;
    border-radius: 10px;
    margin: 0 auto;
}

.thumbnail-div img{
    width: 100vw;
    border-radius: 10px;
}

.section-text{
    font-size: 22px;
    color: var(--blue-cian);
    margin-top: 20px;
}

.section-text2{
    font-size: 22px;
    color: var(--blue-cian);
    margin-top: 20px;
}

.info-tags{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

.two-tags{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.description-project{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    width: 100%;
    border-radius: 10px;
    margin-top: 15px;
    background: rgba(255, 255, 255, 0.10);;
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
}

.description-project p{
    font-size: 14px;
    padding: 20px;
}

.previews-project{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 15px;
}

.big-preview{
    width: 100%;
}

.mini-previews{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mini-previews img{
    width: 48%;
}

@media (min-width: 770px){
    .project-details{
        margin: 0 auto;
        margin-top: 40px;
    }

    .general-info{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .thumbnail-div{
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: content-box;
        width: 420px;
        height: 262px;
        margin: 0;
    }
    
    .thumbnail-div img{
        width: 360px;
        padding: 0;
    }

    .section-text{
        font-size: 40px;
        margin-top: 0;
    }

    .two-tags{
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .section-text2{
        font-size: 40px;
        margin-top: 30px;
    }    

    .info-tags{
        gap: 25px;
        margin-top: 40px;
    }

    .description-project p{
        font-size: 20px;
        padding: 20px;
    }
}
