button {
    color: white;
    border-radius: 8px;
    min-width: 200px;
    min-height: 40px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #00000045;
    cursor: pointer;
    transition: border-color 0.25s;
    border-color: var(--blue-cian);
    margin: 6%;
  }
  button:hover {
    background: linear-gradient(135deg, var(--blue-cian), var(--blue-purple));
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }